In [1]:
# Dependencies
import os
from bs4 import BeautifulSoup as bs, re
from splinter import Browser
import pandas as pd

In [2]:
# Chrome Driver
executable_path = {'executable_path': '/Chromedrv/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#URL for target location, states
url = 'https://www.allstays.com/c/target-locations.htm'
browser.visit(url)

In [4]:
html = browser.html
# Create a Beautiful Soup object
soup = bs(html, 'html.parser')

In [5]:
StateBody = soup.find('tbody').find_all('a')
StateBody

[<a href="//www.allstays.com/c/target-alabama-locations.htm" title="Alabama">Alabama</a>,
 <a href="//www.allstays.com/c/target-alabama-locations-map.htm" title="Alabama">Map</a>,
 <a href="//www.allstays.com/c/target-alaska-locations.htm" title="Alaska">Alaska</a>,
 <a href="//www.allstays.com/c/target-alaska-locations-map.htm" title="Alaska">Map</a>,
 <a href="//www.allstays.com/c/target-arizona-locations.htm" title="Arizona">Arizona</a>,
 <a href="//www.allstays.com/c/target-arizona-locations-map.htm" title="Arizona">Map</a>,
 <a href="//www.allstays.com/c/target-arkansas-locations.htm" title="Arkansas">Arkansas</a>,
 <a href="//www.allstays.com/c/target-arkansas-locations-map.htm" title="Arkansas">Map</a>,
 <a href="//www.allstays.com/c/target-california-locations.htm" title="California">California</a>,
 <a href="//www.allstays.com/c/target-california-locations-map.htm" title="California">Map</a>,
 <a href="//www.allstays.com/c/target-colorado-locations.htm" title="Colorado">Colorado</a>,
 <a href="//www.allstays.com/c/target-colorado-locations-map.htm" title="Colorado">Map</a>,
 <a href="//www.allstays.com/c/target-connecticut-locations.htm" title="Connecticut">Connecticut</a>,
 <a href="//www.allstays.com/c/target-connecticut-locations-map.htm" title="Connecticut">Map</a>,
 <a href="//www.allstays.com/c/target-delaware-locations.htm" title="Delaware">Delaware</a>,
 <a href="//www.allstays.com/c/target-delaware-locations-map.htm" title="Delaware">Map</a>,
 <a href="//www.allstays.com/c/target-florida-locations.htm" title="Florida">Florida</a>,
 <a href="//www.allstays.com/c/target-florida-locations-map.htm" title="Florida">Map</a>,
 <a href="//www.allstays.com/c/target-georgia-locations.htm" title="Georgia">Georgia</a>,
 <a href="//www.allstays.com/c/target-georgia-locations-map.htm" title="Georgia">Map</a>,
 <a href="//www.allstays.com/c/target-hawaii-locations.htm" title="Hawaii">Hawaii</a>,
 <a href="//www.allstays.com/c/target-hawaii-locations-map.htm" title="Hawaii">Map</a>,
 <a href="//www.allstays.com/c/target-idaho-locations.htm" title="Idaho">Idaho</a>,
 <a href="//www.allstays.com/c/target-idaho-locations-map.htm" title="Idaho">Map</a>,
 <a href="//www.allstays.com/c/target-illinois-locations.htm" title="Illinois">Illinois</a>,
 <a href="//www.allstays.com/c/target-illinois-locations-map.htm" title="Illinois">Map</a>,
 <a href="//www.allstays.com/c/target-indiana-locations.htm" title="Indiana">Indiana</a>,
 <a href="//www.allstays.com/c/target-indiana-locations-map.htm" title="Indiana">Map</a>,
 <a href="//www.allstays.com/c/target-iowa-locations.htm" title="Iowa">Iowa</a>,
 <a href="//www.allstays.com/c/target-iowa-locations-map.htm" title="Iowa">Map</a>,
 <a href="//www.allstays.com/c/target-kansas-locations.htm" title="Kansas">Kansas</a>,
 <a href="//www.allstays.com/c/target-kansas-locations-map.htm" title="Kansas">Map</a>,
 <a href="//www.allstays.com/c/target-kentucky-locations.htm" title="Kentucky">Kentucky</a>,
 <a href="//www.allstays.com/c/target-kentucky-locations-map.htm" title="Kentucky">Map</a>,
 <a href="//www.allstays.com/c/target-louisiana-locations.htm" title="Louisiana">Louisiana</a>,
 <a href="//www.allstays.com/c/target-louisiana-locations-map.htm" title="Louisiana">Map</a>,
 <a href="//www.allstays.com/c/target-maine-locations.htm" title="Maine">Maine</a>,
 <a href="//www.allstays.com/c/target-maine-locations-map.htm" title="Maine">Map</a>,
 <a href="//www.allstays.com/c/target-maryland-locations.htm" title="Maryland">Maryland</a>,
 <a href="//www.allstays.com/c/target-maryland-locations-map.htm" title="Maryland">Map</a>,
 <a href="//www.allstays.com/c/target-massachusetts-locations.htm" title="Massachusetts">Massachusetts</a>,
 <a href="//www.allstays.com/c/target-massachusetts-locations-map.htm" title="Massachusetts">Map</a>,
 <a href="//www.allstays.com/c/target-michigan-locations.htm" title="Michigan">Michigan</a>,
 <a href="//www.allstays.com/c/target-michigan-locations-map.htm" title="Michigan">Map</a>,
 <a href="//www.allstays.com/c/target-minnesota-locations.htm" title="Minnesota">Minnesota</a>,
 <a href="//www.allstays.com/c/target-minnesota-locations-map.htm" title="Minnesota">Map</a>,
 <a href="//www.allstays.com/c/target-mississippi-locations.htm" title="Mississippi">Mississippi</a>,
 <a href="//www.allstays.com/c/target-mississippi-locations-map.htm" title="Mississippi">Map</a>,
 <a href="//www.allstays.com/c/target-missouri-locations.htm" title="Missouri">Missouri</a>,
 <a href="//www.allstays.com/c/target-missouri-locations-map.htm" title="Missouri">Map</a>,
 <a href="//www.allstays.com/c/target-montana-locations.htm" title="Montana">Montana</a>,
 <a href="//www.allstays.com/c/target-montana-locations-map.htm" title="Montana">Map</a>,
 <a href="//www.allstays.com/c/target-nebraska-locations.htm" title="Nebraska">Nebraska</a>,
 <a href="//www.allstays.com/c/target-nebraska-locations-map.htm" title="Nebraska">Map</a>,
 <a href="//www.allstays.com/c/target-nevada-locations.htm" title="Nevada">Nevada</a>,
 <a href="//www.allstays.com/c/target-nevada-locations-map.htm" title="Nevada">Map</a>,
 <a href="//www.allstays.com/c/target-new-hampshire-locations.htm" title="New Hampshire">New Hampshire</a>,
 <a href="//www.allstays.com/c/target-new-hampshire-locations-map.htm" title="New Hampshire">Map</a>,
 <a href="//www.allstays.com/c/target-new-jersey-locations.htm" title="New Jersey">New Jersey</a>,
 <a href="//www.allstays.com/c/target-new-jersey-locations-map.htm" title="New Jersey">Map</a>,
 <a href="//www.allstays.com/c/target-new-mexico-locations.htm" title="New Mexico">New Mexico</a>,
 <a href="//www.allstays.com/c/target-new-mexico-locations-map.htm" title="New Mexico">Map</a>,
 <a href="//www.allstays.com/c/target-new-york-locations.htm" title="New York">New York</a>,
 <a href="//www.allstays.com/c/target-new-york-locations-map.htm" title="New York">Map</a>,
 <a href="//www.allstays.com/c/target-north-carolina-locations.htm" title="North Carolina">North Carolina</a>,
 <a href="//www.allstays.com/c/target-north-carolina-locations-map.htm" title="North Carolina">Map</a>,
 <a href="//www.allstays.com/c/target-north-dakota-locations.htm" title="North Dakota">North Dakota</a>,
 <a href="//www.allstays.com/c/target-north-dakota-locations-map.htm" title="North Dakota">Map</a>,
 <a href="//www.allstays.com/c/target-ohio-locations.htm" title="Ohio">Ohio</a>,
 <a href="//www.allstays.com/c/target-ohio-locations-map.htm" title="Ohio">Map</a>,
 <a href="//www.allstays.com/c/target-oklahoma-locations.htm" title="Oklahoma">Oklahoma</a>,
 <a href="//www.allstays.com/c/target-oklahoma-locations-map.htm" title="Oklahoma">Map</a>,
 <a href="//www.allstays.com/c/target-oregon-locations.htm" title="Oregon">Oregon</a>,
 <a href="//www.allstays.com/c/target-oregon-locations-map.htm" title="Oregon">Map</a>,
 <a href="//www.allstays.com/c/target-pennsylvania-locations.htm" title="Pennsylvania">Pennsylvania</a>,
 <a href="//www.allstays.com/c/target-pennsylvania-locations-map.htm" title="Pennsylvania">Map</a>,
 <a href="//www.allstays.com/c/target-rhode-island-locations.htm" title="Rhode Island">Rhode Island</a>,
 <a href="//www.allstays.com/c/target-rhode-island-locations-map.htm" title="Rhode Island">Map</a>,
 <a href="//www.allstays.com/c/target-south-carolina-locations.htm" title="South Carolina">South Carolina</a>,
 <a href="//www.allstays.com/c/target-south-carolina-locations-map.htm" title="South Carolina">Map</a>,
 <a href="//www.allstays.com/c/target-south-dakota-locations.htm" title="South Dakota">South Dakota</a>,
 <a href="//www.allstays.com/c/target-south-dakota-locations-map.htm" title="South Dakota">Map</a>,
 <a href="//www.allstays.com/c/target-tennessee-locations.htm" title="Tennessee">Tennessee</a>,
 <a href="//www.allstays.com/c/target-tennessee-locations-map.htm" title="Tennessee">Map</a>,
 <a href="//www.allstays.com/c/target-texas-locations.htm" title="Texas">Texas</a>,
 <a href="//www.allstays.com/c/target-texas-locations-map.htm" title="Texas">Map</a>,
 <a href="//www.allstays.com/c/target-utah-locations.htm" title="Utah">Utah</a>,
 <a href="//www.allstays.com/c/target-utah-locations-map.htm" title="Utah">Map</a>,
 <a href="//www.allstays.com/c/target-virginia-locations.htm" title="Virginia">Virginia</a>,
 <a href="//www.allstays.com/c/target-virginia-locations-map.htm" title="Virginia">Map</a>,
 <a href="//www.allstays.com/c/target-washington-locations.htm" title="Washington">Washington</a>,
 <a href="//www.allstays.com/c/target-washington-locations-map.htm" title="Washington">Map</a>,
 <a href="//www.allstays.com/c/target-washington-dc-locations.htm" title="Washington DC">Washington DC</a>,
 <a href="//www.allstays.com/c/target-washington-dc-locations-map.htm" title="Washington DC">Map</a>,
 <a href="//www.allstays.com/c/target-west-virginia-locations.htm" title="West Virginia">West Virginia</a>,
 <a href="//www.allstays.com/c/target-west-virginia-locations-map.htm" title="West Virginia">Map</a>,
 <a href="//www.allstays.com/c/target-wisconsin-locations.htm" title="Wisconsin">Wisconsin</a>,
 <a href="//www.allstays.com/c/target-wisconsin-locations-map.htm" title="Wisconsin">Map</a>,
 <a href="//www.allstays.com/c/target-wyoming-locations.htm" title="Wyoming">Wyoming</a>,
 <a href="//www.allstays.com/c/target-wyoming-locations-map.htm" title="Wyoming">Map</a>]

In [6]:
StateLinks = []
StateNames = []
for link in StateBody:
    # Filter out Map link
    if link.text != 'Map':
        #Link data comes with // and this cause the link to open as file, instead of web page. so had to be removed
        StateLinks.append(link['href'].replace('//',''))
        # City name list
        StateNames.append(link.text)
#         print (link['href'],link.text)
StateLinks
# print(StateNames)

['www.allstays.com/c/target-alabama-locations.htm',
 'www.allstays.com/c/target-alaska-locations.htm',
 'www.allstays.com/c/target-arizona-locations.htm',
 'www.allstays.com/c/target-arkansas-locations.htm',
 'www.allstays.com/c/target-california-locations.htm',
 'www.allstays.com/c/target-colorado-locations.htm',
 'www.allstays.com/c/target-connecticut-locations.htm',
 'www.allstays.com/c/target-delaware-locations.htm',
 'www.allstays.com/c/target-florida-locations.htm',
 'www.allstays.com/c/target-georgia-locations.htm',
 'www.allstays.com/c/target-hawaii-locations.htm',
 'www.allstays.com/c/target-idaho-locations.htm',
 'www.allstays.com/c/target-illinois-locations.htm',
 'www.allstays.com/c/target-indiana-locations.htm',
 'www.allstays.com/c/target-iowa-locations.htm',
 'www.allstays.com/c/target-kansas-locations.htm',
 'www.allstays.com/c/target-kentucky-locations.htm',
 'www.allstays.com/c/target-louisiana-locations.htm',
 'www.allstays.com/c/target-maine-locations.htm',
 'www.allstays.com/c/target-maryland-locations.htm',
 'www.allstays.com/c/target-massachusetts-locations.htm',
 'www.allstays.com/c/target-michigan-locations.htm',
 'www.allstays.com/c/target-minnesota-locations.htm',
 'www.allstays.com/c/target-mississippi-locations.htm',
 'www.allstays.com/c/target-missouri-locations.htm',
 'www.allstays.com/c/target-montana-locations.htm',
 'www.allstays.com/c/target-nebraska-locations.htm',
 'www.allstays.com/c/target-nevada-locations.htm',
 'www.allstays.com/c/target-new-hampshire-locations.htm',
 'www.allstays.com/c/target-new-jersey-locations.htm',
 'www.allstays.com/c/target-new-mexico-locations.htm',
 'www.allstays.com/c/target-new-york-locations.htm',
 'www.allstays.com/c/target-north-carolina-locations.htm',
 'www.allstays.com/c/target-north-dakota-locations.htm',
 'www.allstays.com/c/target-ohio-locations.htm',
 'www.allstays.com/c/target-oklahoma-locations.htm',
 'www.allstays.com/c/target-oregon-locations.htm',
 'www.allstays.com/c/target-pennsylvania-locations.htm',
 'www.allstays.com/c/target-rhode-island-locations.htm',
 'www.allstays.com/c/target-south-carolina-locations.htm',
 'www.allstays.com/c/target-south-dakota-locations.htm',
 'www.allstays.com/c/target-tennessee-locations.htm',
 'www.allstays.com/c/target-texas-locations.htm',
 'www.allstays.com/c/target-utah-locations.htm',
 'www.allstays.com/c/target-virginia-locations.htm',
 'www.allstays.com/c/target-washington-locations.htm',
 'www.allstays.com/c/target-washington-dc-locations.htm',
 'www.allstays.com/c/target-west-virginia-locations.htm',
 'www.allstays.com/c/target-wisconsin-locations.htm',
 'www.allstays.com/c/target-wyoming-locations.htm']

In [7]:
States_df = pd.DataFrame(StateNames, columns=["State Name"])
States_df["State Link"] = StateLinks
States_df

        State Name                                         State Link
0          Alabama    www.allstays.com/c/target-alabama-locations.htm
1           Alaska     www.allstays.com/c/target-alaska-locations.htm
2          Arizona    www.allstays.com/c/target-arizona-locations.htm
3         Arkansas   www.allstays.com/c/target-arkansas-locations.htm
4       California  www.allstays.com/c/target-california-locations...
5         Colorado   www.allstays.com/c/target-colorado-locations.htm
6      Connecticut  www.allstays.com/c/target-connecticut-location...
7         Delaware   www.allstays.com/c/target-delaware-locations.htm
8          Florida    www.allstays.com/c/target-florida-locations.htm
9          Georgia    www.allstays.com/c/target-georgia-locations.htm
10          Hawaii     www.allstays.com/c/target-hawaii-locations.htm
11           Idaho      www.allstays.com/c/target-idaho-locations.htm
12        Illinois   www.allstays.com/c/target-illinois-locations.htm
13         Indiana    www.allstays.com/c/target-indiana-locations.htm
14            Iowa       www.allstays.com/c/target-iowa-locations.htm
15          Kansas     www.allstays.com/c/target-kansas-locations.htm
16        Kentucky   www.allstays.com/c/target-kentucky-locations.htm
17       Louisiana  www.allstays.com/c/target-louisiana-locations.htm
18           Maine      www.allstays.com/c/target-maine-locations.htm
19        Maryland   www.allstays.com/c/target-maryland-locations.htm
20   Massachusetts  www.allstays.com/c/target-massachusetts-locati...
21        Michigan   www.allstays.com/c/target-michigan-locations.htm
22       Minnesota  www.allstays.com/c/target-minnesota-locations.htm
23     Mississippi  www.allstays.com/c/target-mississippi-location...
24        Missouri   www.allstays.com/c/target-missouri-locations.htm
25         Montana    www.allstays.com/c/target-montana-locations.htm
26        Nebraska   www.allstays.com/c/target-nebraska-locations.htm
27          Nevada     www.allstays.com/c/target-nevada-locations.htm
28   New Hampshire  www.allstays.com/c/target-new-hampshire-locati...
29      New Jersey  www.allstays.com/c/target-new-jersey-locations...
30      New Mexico  www.allstays.com/c/target-new-mexico-locations...
31        New York   www.allstays.com/c/target-new-york-locations.htm
32  North Carolina  www.allstays.com/c/target-north-carolina-locat...
33    North Dakota  www.allstays.com/c/target-north-dakota-locatio...
34            Ohio       www.allstays.com/c/target-ohio-locations.htm
35        Oklahoma   www.allstays.com/c/target-oklahoma-locations.htm
36          Oregon     www.allstays.com/c/target-oregon-locations.htm
37    Pennsylvania  www.allstays.com/c/target-pennsylvania-locatio...
38    Rhode Island  www.allstays.com/c/target-rhode-island-locatio...
39  South Carolina  www.allstays.com/c/target-south-carolina-locat...
40    South Dakota  www.allstays.com/c/target-south-dakota-locatio...
41       Tennessee  www.allstays.com/c/target-tennessee-locations.htm
42           Texas      www.allstays.com/c/target-texas-locations.htm
43            Utah       www.allstays.com/c/target-utah-locations.htm
44        Virginia   www.allstays.com/c/target-virginia-locations.htm
45      Washington  www.allstays.com/c/target-washington-locations...
46   Washington DC  www.allstays.com/c/target-washington-dc-locati...
47   West Virginia  www.allstays.com/c/target-west-virginia-locati...
48       Wisconsin  www.allstays.com/c/target-wisconsin-locations.htm
49         Wyoming    www.allstays.com/c/target-wyoming-locations.htm

In [8]:
Target_City_df = pd.DataFrame()

for index, row in States_df.iterrows():
    
    print('https://' + row["State Link"])
    url = 'https://' + row["State Link"]
    state_name = row["State Name"]
    browser.visit(url)
    
    html = browser.html
    # Create a Beautiful Soup object
    soup2 = bs(html, 'html.parser')
    
    StoreContent = soup2.find("div", class_="col-md-5").find_all("h4")
    city = [header.text for header in StoreContent]
    city       
    
    city_df = pd.DataFrame(city,columns=["City"])
    city_df
    
    City_Content = soup2.find_all(string=re.compile("ph:"))
    City_Content 
    
    city_df["City_Content"] = City_Content
    
    city_df["State"] = state_name
    
    city_df["City State Zip"] = city_df["City_Content"].str.rsplit("ph:",n=1,expand = True)[0]
    city_df
    
    city_df["City2"] = city_df["City State Zip"].str.rsplit("\s\n",n=1,expand = True)[0]
    city_df
    
    if Target_City_df.empty:
        Target_City_df = city_df
    else:
        Target_City_df = pd.concat([Target_City_df, city_df], ignore_index=True)

https://www.allstays.com/c/target-alabama-locations.htm
https://www.allstays.com/c/target-alaska-locations.htm
https://www.allstays.com/c/target-arizona-locations.htm
https://www.allstays.com/c/target-arkansas-locations.htm
https://www.allstays.com/c/target-california-locations.htm
https://www.allstays.com/c/target-colorado-locations.htm
https://www.allstays.com/c/target-connecticut-locations.htm
https://www.allstays.com/c/target-delaware-locations.htm
https://www.allstays.com/c/target-florida-locations.htm
https://www.allstays.com/c/target-georgia-locations.htm
https://www.allstays.com/c/target-hawaii-locations.htm
https://www.allstays.com/c/target-idaho-locations.htm
https://www.allstays.com/c/target-illinois-locations.htm
https://www.allstays.com/c/target-indiana-locations.htm
https://www.allstays.com/c/target-iowa-locations.htm
https://www.allstays.com/c/target-kansas-locations.htm
https://www.allstays.com/c/target-kentucky-locations.htm
https://www.allstays.com/c/target-louisiana-locations.htm
https://www.allstays.com/c/target-maine-locations.htm
https://www.allstays.com/c/target-maryland-locations.htm
https://www.allstays.com/c/target-massachusetts-locations.htm
https://www.allstays.com/c/target-michigan-locations.htm
https://www.allstays.com/c/target-minnesota-locations.htm
https://www.allstays.com/c/target-mississippi-locations.htm
https://www.allstays.com/c/target-missouri-locations.htm
https://www.allstays.com/c/target-montana-locations.htm
https://www.allstays.com/c/target-nebraska-locations.htm
https://www.allstays.com/c/target-nevada-locations.htm
https://www.allstays.com/c/target-new-hampshire-locations.htm
https://www.allstays.com/c/target-new-jersey-locations.htm
https://www.allstays.com/c/target-new-mexico-locations.htm
https://www.allstays.com/c/target-new-york-locations.htm
https://www.allstays.com/c/target-north-carolina-locations.htm
https://www.allstays.com/c/target-north-dakota-locations.htm
https://www.allstays.com/c/target-ohio-locations.htm
https://www.allstays.com/c/target-oklahoma-locations.htm
https://www.allstays.com/c/target-oregon-locations.htm
https://www.allstays.com/c/target-pennsylvania-locations.htm
https://www.allstays.com/c/target-rhode-island-locations.htm
https://www.allstays.com/c/target-south-carolina-locations.htm
https://www.allstays.com/c/target-south-dakota-locations.htm
https://www.allstays.com/c/target-tennessee-locations.htm
https://www.allstays.com/c/target-texas-locations.htm
https://www.allstays.com/c/target-utah-locations.htm
https://www.allstays.com/c/target-virginia-locations.htm
https://www.allstays.com/c/target-washington-locations.htm
https://www.allstays.com/c/target-washington-dc-locations.htm
https://www.allstays.com/c/target-west-virginia-locations.htm
https://www.allstays.com/c/target-wisconsin-locations.htm
https://www.allstays.com/c/target-wyoming-locations.htm

In [9]:
Target_City_df

,City,City_Content,State,City State Zip,City2
0,Alabaster,Alabaster AL 35007 ph: 205-564-2608,Alabama,Alabaster AL 35007,Alabaster AL 35007
1,Bessemer,Bessemer AL 35022 ph: 205-565-3760,Alabama,Bessemer AL 35022,Bessemer AL 35022
2,Birmingham,Birmingham AL 35235 ph: 205-655-6950,Alabama,Birmingham AL 35235,Birmingham AL 35235
3,Birmingham,Birmingham AL 35242 ph: 205-408-7687,Alabama,Birmingham AL 35242,Birmingham AL 35242
4,Birmingham,Birmingham AL 35226 ph: 205-747-1654,Alabama,Birmingham AL 35226,Birmingham AL 35226
...,...,...,...,...,...
1784,Wauwatosa,Wauwatosa WI 53222 ph: 414-847-1100,Wisconsin,Wauwatosa WI 53222,Wauwatosa WI 53222
1785,West Allis,West Allis WI 53227 ph: 414-545-8000,Wisconsin,West Allis WI 53227,West Allis WI 53227
1786,West Milwaukee,West Milwaukee WI 53214 ph: 414-203-0106,Wisconsin,West Milwaukee WI 53214,West Milwaukee WI 53214
1787,Casper,Casper WY 82609 ph: 307-265-8214,Wyoming,Casper WY 82609,Casper WY 82609
1788,Cheyenne,Cheyenne WY 82009 ph: 307-637-8888,Wyoming,Cheyenne WY 82009,Cheyenne WY 82009

In [10]:
States_df.to_csv("Resources\AllState_Target_State_Link.csv",header=True,index=False)

In [11]:
Target_City_df["City2"] = Target_City_df["City State Zip"]. \
    str.replace(re.compile(r"[0-9]-[0-9]"),""). \
    replace(re.compile(r"[0-9]"),"")

Target_City_df["City2"] = Target_City_df["City2"].str.strip()

Target_City_df["State_Abbr"] = Target_City_df["City2"].str[-2:]
Target_City_df["State_Abbr"] = Target_City_df["State_Abbr"].str.strip()

In [14]:
Target_City_df

,City,City_Content,State,City State Zip,City2,State_Abbr
0,Alabaster,Alabaster AL 35007 ph: 205-564-2608,Alabama,Alabaster AL 35007,Alabaster AL,AL
1,Bessemer,Bessemer AL 35022 ph: 205-565-3760,Alabama,Bessemer AL 35022,Bessemer AL,AL
2,Birmingham,Birmingham AL 35235 ph: 205-655-6950,Alabama,Birmingham AL 35235,Birmingham AL,AL
3,Birmingham,Birmingham AL 35242 ph: 205-408-7687,Alabama,Birmingham AL 35242,Birmingham AL,AL
4,Birmingham,Birmingham AL 35226 ph: 205-747-1654,Alabama,Birmingham AL 35226,Birmingham AL,AL
...,...,...,...,...,...,...
1784,Wauwatosa,Wauwatosa WI 53222 ph: 414-847-1100,Wisconsin,Wauwatosa WI 53222,Wauwatosa WI,WI
1785,West Allis,West Allis WI 53227 ph: 414-545-8000,Wisconsin,West Allis WI 53227,West Allis WI,WI
1786,West Milwaukee,West Milwaukee WI 53214 ph: 414-203-0106,Wisconsin,West Milwaukee WI 53214,West Milwaukee WI,WI
1787,Casper,Casper WY 82609 ph: 307-265-8214,Wyoming,Casper WY 82609,Casper WY,WY
1788,Cheyenne,Cheyenne WY 82009 ph: 307-637-8888,Wyoming,Cheyenne WY 82009,Cheyenne WY,WY

In [15]:
Target_City_Final_df = Target_City_df.drop(['City2','City_Content'], axis=1)
Target_City_Final_df.rename(columns = {'City State Zip':'City_State_Zip'}, inplace = True)
Target_City_Final_df

                City      State            City_State_Zip State_Abbr
0          Alabaster    Alabama       Alabaster AL 35007          AL
1           Bessemer    Alabama        Bessemer AL 35022          AL
2         Birmingham    Alabama      Birmingham AL 35235          AL
3         Birmingham    Alabama      Birmingham AL 35242          AL
4         Birmingham    Alabama      Birmingham AL 35226          AL
...              ...        ...                       ...        ...
1784       Wauwatosa  Wisconsin       Wauwatosa WI 53222          WI
1785      West Allis  Wisconsin      West Allis WI 53227          WI
1786  West Milwaukee  Wisconsin  West Milwaukee WI 53214          WI
1787          Casper    Wyoming          Casper WY 82609          WY
1788        Cheyenne    Wyoming        Cheyenne WY 82009          WY

[1789 rows x 4 columns]

In [17]:
Target_City_df.to_csv("Resources\TargetCityRaw.csv",header=True,index=False)
Target_City_Final_df.to_csv("Resources\TargetCity.csv",header=True,index=False)

In [29]:
#Importing SqlAlchemy to use import DataFrame into Postgress.
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [30]:
#Get connection credentials from config file
from config import username, password
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/TargetCensusDB')
# engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:5432/census_data')
connection = engine.connect()

In [20]:
#converting to lower_case to match postgres naming conversion for this particular table
Target_City_df.columns = [t.lower() for t in Target_City_df.columns]

#converting to lower_case to match postgres naming conversion for this particular table
Target_City_Final_df.columns = [t.lower() for t in Target_City_Final_df.columns]

In [24]:
#Export Row file to Postgres
engine.execute("delete FROM target_city_raw")
Target_City_df.to_sql('target_city_raw', engine, if_exists='append', index=False)

In [25]:
#Exporting tranformed file to Postgres. Appending since table heads already exist in Postgres
engine.execute("delete FROM target_city_location")
Target_City_Final_df.to_sql('target_city_location', engine, if_exists='append', index=False)

In [31]:
uscity = pd.read_csv("Resources/uscities.csv")
uscity.rename(columns = {'state_name':'state'}, inplace = True)
uscity.rename(columns = {'county_name':'county'}, inplace = True)
uscity

,city,city_ascii,state_id,state,county_fips,county,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500.0,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840116412
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947.0,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840097718
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441.0,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840096300
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507.0,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840097082
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591.0,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840116371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28884,Montrose,Montrose,SD,South Dakota,46087,McCook,46087,McCook,43.7002,-97.1843,442.0,414.0,polygon,False,True,America/Chicago,3,57048,1840081860
28885,Spearfish,Spearfish,SD,South Dakota,46081,Lawrence,46081,Lawrence,44.4912,-103.8167,12675.0,272.0,polygon,False,True,America/Denver,3,57783 57799,1840082231
28886,Emery,Emery,SD,South Dakota,46061,Hanson,46061,Hanson,43.6020,-97.6195,455.0,384.0,polygon,False,True,America/Chicago,3,57332,1840081745
28887,Watertown,Watertown,SD,South Dakota,46029,Codington,46029,Codington,44.9094,-97.1532,21837.0,475.0,polygon,False,True,America/Chicago,3,57201,1840081993
28888,Buffalo,Buffalo,SD,South Dakota,46063,Harding,46063,Harding,45.5864,-103.5434,346.0,241.0,polygon,False,True,America/Denver,3,57720,1840081693

In [32]:
# Read title table into dataframe
StoreCount_Select = "SELECT city, state, state_abbr, count(city_state_zip) as store_count \
                        FROM public.target_city_location \
                        group by city, state, state_abbr"
targetcity = pd.read_sql(StoreCount_Select, connection)
targetcity

                    city       state state_abbr  store_count
0          Mountain View  California         CA            1
1               Kingston    New York         NY            1
2               Waukegan    Illinois         IL            1
3             Fort Wayne     Indiana         IN            3
4     University Heights        Ohio         OH            1
...                  ...         ...        ...          ...
1357               Union  New Jersey         NJ            1
1358         Glen Burnie    Maryland         MD            2
1359             Mchenry    Illinois         IL            1
1360              Fenton    Missouri         MO            1
1361         Canoga Park  California         CA            1

[1362 rows x 4 columns]

In [33]:
target_counties = pd.merge(targetcity, uscity, how='left', on=["city", "state"])
target_counties = target_counties.sort_values(by=["county", "state"])
target_counties

,city,state,state_abbr,store_count,city_ascii,state_id,county_fips,county,county_fips_all,county_name_all,...,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
1191,Boise,Idaho,ID,2,Boise,ID,16001.0,Ada,16001,Ada,...,-116.2312,385218.0,1045.0,polygon,False,True,America/Boise,2.0,83703 83702 83705 83704 83709 83716 83706 8371...,1.840018e+09
37,Westminster,Colorado,CO,2,Westminster,CO,8001.0,Adams,08001|08059,Adams|Jefferson,...,-105.0624,112812.0,1379.0,polygon,False,True,America/Denver,2.0,80030 80031 80234 80005 80003 80021 80020 80035,1.840009e+09
160,Aurora,Colorado,CO,5,Aurora,CO,8001.0,Adams,08001|08005,Adams|Arapahoe,...,-104.7274,366623.0,921.0,polygon,False,True,America/Denver,2.0,80247 80137 80045 80018 80019 80016 80017 8001...,1.840009e+09
193,Brighton,Colorado,CO,1,Brighton,CO,8001.0,Adams,08001|08123,Adams|Weld,...,-104.7964,40562.0,740.0,polygon,False,True,America/Denver,3.0,80603 80601,1.840009e+09
417,Thornton,Colorado,CO,1,Thornton,CO,8001.0,Adams,08001,Adams,...,-104.9443,136978.0,1497.0,polygon,False,True,America/Denver,2.0,80260 80233 80241 80602 80640 80023 80229 80614,1.840008e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Saint George,Utah,UT,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,Stafford,Virginia,VA,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,Midlothian,Virginia,VA,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
712,Washington,Washington DC,DC,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,Fond Du Lac,Wisconsin,WI,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
targetCount_byCounty = target_counties.groupby(["state","county","state_abbr"]).agg(
    {        
        "store_count" : "sum",        
    })
targetCount_byCounty = targetCount_byCounty.reset_index()
targetCount_byCounty

         state     county state_abbr  store_count
0      Alabama    Autauga         AL            1
1      Alabama    Baldwin         AL            2
2      Alabama    Calhoun         AL            1
3      Alabama    Houston         AL            1
4      Alabama  Jefferson         AL            6
..         ...        ...        ...          ...
610  Wisconsin   Waukesha         WI            6
611  Wisconsin  Winnebago         WI            1
612  Wisconsin       Wood         WI            1
613    Wyoming    Laramie         WY            1
614    Wyoming    Natrona         WY            1

[615 rows x 4 columns]

In [36]:
engine.execute("delete FROM target_count_county")
targetCount_byCounty.to_sql('target_count_county', engine, if_exists='append', index=False)